<div id="page-content">
    <div class="container" id="home-container">
        <div class="jumbotron text-center text-white">
            <h1 class="display-4">Alpha Blog</h1>
            <p class="lead">Some text here</p>
            <hr class="my-4">
            <p>Some text here</p>
            <a class="btn btn-success btn-lg text-white" href="#" role="button">Sign up!</a>
        </div>
    </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "My Instagram", "https://www.instagram.com/viniciusgiannini/", class: "text-white" %></small>
    </div>
</footer>